<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Paul's Blob Block Blog</title>
    {{> includes}}
  </head>
  <body>
	<div class="ui page grid masthead segment">
	 <div class="column">
		<div class="header">
		<h1>Paul's Blob Block Blog</h1>
		</div>
		<div class="page-menu">
		<ul>
			{{#withSort main_menu 'data.menu_index'}}
			{{#each pages }}
			<li{{#is ../../page.dest dest}} class="active"{{/is}}><a href="/{{ replaceStr dest 'dist' '' }}">{{ data.title }}</a></li>
			{{/each}}
			{{/withSort}}
		</ul>
		</div>
		<div class="page-content">
		<h2>{{ page.title }}</h2>
		{{#contains page.dirname 'blog'}}
			Exploring the blog
			<ul>
			  {{#withSort post 'data.posted'}}
			    {{#each this.pages }}
			    <li{{#is ../../page.dest dest}} class="active"{{/is}}><a href="/{{ replaceStr this.dest 'dist' '' }}">{{ this.data.title }}</a></li>
			    {{/each}}
			  {{/withSort}}
			</ul>
		{{/contains}}
		{{#markdown}} 
		  {{> body}} 
		{{/markdown}}
		</div>
		</div>
	</div>
  </body>
</html>